{% extends 'master.html' %}
{% block title %}Insert New ToDo{% endblock title %}
{% block content %}
<form method='post' action='{% url 'todo_app:insertDB' %}'>
    {% csrf_token %}
    Subjetct: <input name='Subject'/>
    extra: <textarea name='extra'></textarea>
    date: <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="date"/>
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
    <input id="submit" type="submit"/>
</form>
{% endblock content %}