{% extends 'master.html' %}
{% block title %}Edit ToDo {{ todo.id }}{% endblock title %}
{% block content %}
    <form method='post' action='{% url 'todo_app:update' todo.id%}'>
        <a id='back-btn' href='{% url 'todo_app:index' %}'>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
        {% csrf_token %}
        Subjetct: <input name='Subject' value='{{todo.subject}}'/>
        extra: <input name='extra' value="{{todo.extra}}"/>
        date: <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" 
                data-target="#datetimepicker1" name="date" value="{{date}}"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <input id="submit" type="submit"/>
    </form>
{% endblock content %}