/* CSS for master.htl */
#content{
    width: 100vw;
    height: 100vh;
    padding: 50px;
}
body{
    width: 100vh !important;
    height: 100vh !important;
    background: -webkit-linear-gradient(bottom,#c471f5,#fa71cd);
    background: linear-gradient(bottom,#c471f5,#fa71cd);
}

/* CSS for index.html */
#index-container{
    width: fit-content;
    margin: auto;
}
table{
    background-color: white;
    margin: auto;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
tr{
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}
th, td{
    padding: 15px;
}
th{
    font-weight: 500;
    color: black;
}
td, a{
    color: dimgrey !important;
}
.deleteBtn:hover{
    cursor: pointer;
}
#add-btn{
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: dimgray !important;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
}
/* CSS for insert.html and update.html */
form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    background-color: white; 
    padding: 20px 20px 5px;
    border-radius: 5px;
}
input, textarea{
    display: block;
    margin: 0px 0px 40px;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    padding: .375rem .75rem;
    background-clip: padding-box;
}
.input-group-text{
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
    background-color: white !important;
}
input:focus, textarea:focus, .input-group-text:focus{
    /*border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);*/
    border-color: none !important;
    box-shadow: none !important;
    outline: 0;
}
#submit{
    width: 100%;
    margin: 20px auto;
    background-color: #c471f5 !important;
    color: white;
    padding: 10px;
}
.fa-angle-left{
    padding: 0px 0px 15px;
    font-size: 20px !important;
}
#back-btn{
    width: fit-content;
    padding: 0px 5px;
}